<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Declaring all the css below -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <title>WeebQuo</title>

    <!-- Declaring all the font styles below -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&family=Righteous&family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>

<header class="container">
    <div class="d-flex justify-content-center pt-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Quotes</a></li>
            <li class="nav-item"><a href="/news" class="nav-link">Anime News</a></li>
        </ul>
    </div>
</header>

<hr class="divider">

<main class="container">
    <h1><u>WeebQuo</u></h1>